.box{
    margin: 0 auto;
    position: relative;
    background: url(ms.jpg);
    background-size: cover;
    width: 702px；  
    
}    


.box{
    float:left;
    width:60px;
    height: 50px;
    border: 1px solid #cccccc;
    margin-left:5px;
    line-height: 50px;
    text-align:center;
    color:red;
    position:relative;
    top:328px;
    left:350;
}